name: CD Pipeline
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success'}}
    steps:
      - name: Stop and Delete Old docker container
        run: |
          docker stop nodejs-backend-chatapp-container || true
          docker rm nodejs-backend-chatapp-container || true
      
      - name: Remove old Docker image
        run: docker rmi nydelagan/nodejs-backend-chatapp:latest || true
      
      - name: Pull Docker Image
        run: docker pull nydelagan/nodejs-backend-chatapp:latest
      
      - name: Run docker container
        run: docker run -d -p 3000:3000 --env-file /home/ubuntu/.env --name nodejs-backend-chatapp-container nydelagan/nodejs-backend-chatapp
