name: Docker Image CI
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login DockerHub
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Build the Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/nodejs-backend-chatapp:latest ./backend
    
    - name: Push to dockerhub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/nodejs-backend-chatapp:latest
